<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceuil My New Bank</title>
    <link rel="stylesheet" href="css/accueil.css">
</head>

<body>

<div class="page">
    <header>
        <h1>My New Bank</h1>
            <div class="logo">
                <h3>Découvrez My New <br>
                    Bank
                    <div class="trait"></div>
                </h3>
            </div>
                <br><br>

        <nav class="instruction">
            <div class="connect">
                <a href="connexion" target="_blank">Connexion</a>
                <a href="premiereconnexion" target="_blank">Première connexion</a>
            </div>

        </nav>

    </header>
            <br>

    <div class="presentation">
        <p><strong>Banque en ligne rapide, sûre et pratique</strong></p>
            <p>Bienvenue dans votre nouvel espace personnel, simplifié et moderne, développé pour mieux répondre à vos besoins.

            <br><br>

        Pour vous connecter à votre nouvel espace, voici les clés : Votre Code abonné ou votre identifiant client reste identique
            <br><br>

        Où retrouver mon identifiant ?
        Il vous a été communiqué à l’ouverture de votre compte.
            <br><br>

        Votre Code secret :
        Il permet d’accéder à votre espace personnel, vous pouvez le personnaliser.
        Si vous vous connectez pour la première fois à la nouvelle banque à distance : par mesure de sécurité, vous devrez procéder au changement de votre code secret.
            <br><br>
    

        <em>Nous proposons à nos nouveaux clients une réduction de 50% et offre 80€ à l’ouverture d’un compte bancaire. n’hésitez pas à nous contacter pour tout informations.</em> 
    
    </p>

    </div>
</div>
    

<%- include('examen/footer') %>

</body>
</html>