<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nous contacter</title>
    <link rel="stylesheet" href="css/contact.css">
</head>

<body>
    
    <div class="formcontact">
       
        <h1>Formulaire de contact</h1>

        <div class="chitrou">
        <label>Nom :</label>
        <input type="text" name="nom" id="nom" required> 
            <br><br>
        </div>
        
        <div class="chitrou">
        <label>Prénom :</label>
        <input type="text" name="prenom" id="prenom" required> 
            <br><br>
        </div>

        <div class="chitrou">
        <label>Objet du message :</label>
        <input type="text" name="nom" id="nom" required> 
            <br><br>
        </div>

        <div class="objet">
        <label>Message :</label>
        <textarea name="Autre" rows="5" cols="55"  id="autre" ></textarea>
            <br><br>
        </div>

        <div class="signa">
            <input type="submit" value="Envoyez" id="renvoie" required> 
        </div>
    </div>

    

</body>

</html>