<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Première Connexion</title>
    <link rel="stylesheet" href="css/yahandra.css">
</head>

<body>
    

    <div class="firstconnexion">
        <h1>Première connexion</h1>

        <div class="moinadamou">
            <label>Nom :</label>
        <input type="text" name="nom" id="nom" required> 
            <br><br>
        </div>

        <div class="moinadamou">
        <label>Prénom :</label>
        <input type="text" name="prenom" id="prenom" required> 
            <br><br>
        </div>

        <div class="moinadamou">
        <label>Créer un mot de passe :</label>
        <input type="password" name="creer" id="creer" required> 
            <br><br>
        </div>

        <div class="moinadamou">
        <label>Confirmer le mot de passe :</label>
        <input type="password" name="confirmmdp" id="confirmmdp" required>
            <br><br>
        </div>

        <div class="point">
        <input type="submit" value="Envoyez" id="envoyez" required>
            <br><br>
        </div>
    </div>

    

</body>
</html>