<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="css/footer.css">
</head>

<body>
    <footer class="footer">
        <div class="lien-connexion">
            <div class="lien">
                <h5>Aide</h5>
                <ul>
                    <li><a href="contact">Nous contacter</a></li>
                    
                </ul>
            </div>
    
            <div class="outilconnect">
                <h5>Connexion</h5>
                <ul>
                    <li><a href="connexion">Se connecter</a></li>
                    <li><a href="premiereconnexion">Ma première connexion</a></li>
                </ul>
            </div>
        
    
            <div class="reseausociaux">
               <h5>Réseau sociaux</h5> 
               
            </div>
        </div>
    </footer>
</body>
</html>